@model WorkoutViewModel

@{
    ViewBag.Title = "Workout";
}

<div>
    @foreach (var workout in Model.Workouts)
    {
        <h1>@workout.Name</h1>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Name)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Reps)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Sets)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Weight)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Rest)</th>
                </tr>
            </thead>
            @foreach (ExerciseDTO exercise in workout.Exercises)
            {
                <tr>
                    <td>@exercise.Name</td>
                    <td>@exercise.Reps</td>
                    <td>@exercise.Sets</td>
                    <td>@exercise.Weight</td>
                    <td>@exercise.Rest</td>
                </tr>
            }
        </table>
    }

<div>

@using (Html.BeginForm("Planner", "Workout", FormMethod.Post))
{
    <div class="form-group custom-form">
       <table>
            <thead>
                @Html.LabelFor(model => model.Workout.Name)
            </thead>
            <tbody>
                <td>@Html.EditorFor(model => model.Workout.Name)</td>
                <td><button type="button" onclick="addExercise()">Add Exercise</button></td>
                <table id="exercise-form">
                    <thead>
                        <th>@Html.LabelFor(model => model.Exercise.Name)</th>
                        <th>@Html.LabelFor(model => model.Exercise.Reps)</th>
                        <th>@Html.LabelFor(model => model.Exercise.Sets)</th>
                        <th>@Html.LabelFor(model => model.Exercise.Weight)</th>
                        <th>@Html.LabelFor(model => model.Exercise.Rest)</th>
                    </thead>
                    <tbody>
                        <td>@Html.EditorFor(model => model.Exercise.Name)</td>
                        <td>@Html.EditorFor(model => model.Exercise.Reps)</td>
                        <td>@Html.EditorFor(model => model.Exercise.Sets)</td>
                        <td>@Html.EditorFor(model => model.Exercise.Weight)</td>
                        <td>@Html.EditorFor(model => model.Exercise.Rest)</td>
                    </tbody>
                </table>
            </tbody>
        </table>
    </div>
//@Html.AntiForgeryToken();
    <input type="submit" value="Submit" />
}

<footer></footer>
