@model WorkoutViewModel

@{
    ViewBag.Title = "Workout";
}

<header></header>
<div>
    @foreach (var workout in Model.Workouts)
    {
        <h1>@workout.Name</h1>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Name)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Reps)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Sets)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Weight)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Rest)</th>

                </tr>
            </thead>
            @foreach (ExerciseDTO exercise in workout.Exercises)
            {
                <tr>
                    <td>@exercise.Name</td>
                    <td>@exercise.Reps</td>
                    <td>@exercise.Sets</td>
                    <td>@exercise.Weight</td>
                    <td>@exercise.Rest</td>
                </tr>
            }
        </table>
    }
</div>
<footer></footer>