@model WorkoutViewModel

@{
    ViewBag.Title = "Workout";
}

<header></header>
<div>
    @foreach (var workout in Model.Workouts)
    {
        <h1>@workout.Name</h1>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Name)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Reps)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Sets)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Weight)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Workouts[0].Exercises[0].Rest)</th>
                </tr>
            </thead>
            @foreach (ExerciseDTO exercise in workout.Exercises)
            {
                <tr>
                    <td>@exercise.Name</td>
                    <td>@exercise.Reps</td>
                    <td>@exercise.Sets</td>
                    <td>@exercise.Weight</td>
                    <td>@exercise.Rest</td>
                </tr>
            }
        </table>
    }


<header></header>
<div>


 <form asp-controller="Workout" asp-action="Planner" method="post">
    <div class="form-group">
        <label for="Workout">Workout:</label>
        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter workout" required>
        <span class="error-message">@Html.ValidationMessageFor(model => model.Name)</span>
    </div>
       <div class="form-group">
        <label for="Workout">Workout:</label>
        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter workout" required>
        <span class="error-message">@Html.ValidationMessageFor(model => model.Name)</span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form> 



<footer></footer>
